@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Poppins:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(63, 63, 95);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(22, 62, 141);
    color: aliceblue;
}

ul li{
    list-style-type: none;
}

.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
    display: grid;
    margin-top: 20px;
    grid-template-rows: repeat(3,20vh);
    grid-template-columns: repeat(3,20vh);
    position: relative;
    grid-gap: 2px;
  }
  
  .card {
    border: 2px solid rgb(181, 248, 248);
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card:hover, .reset:hover{
    cursor: pointer;
    background-color: rgb(93, 170, 170);

  }

  .gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', "cursive";
  }
  .gameInfo h1{
    font-size: 2.5rem;
  }
  .imge img{

    width: 0;
    transition: width 1s ease-in-out;
  }

  .bt-0{
    border-top: 0 ;
  }
  .bl-0{
    border-left: 0 ;
  }
  .bd-0{
    border-bottom: 0 ;
  }
  .br-0{
    border-right: 0 ;
  }
  .reset{
    width: 150px;
    height: 60px;
    margin-top: 10px;
    /* padding: 3px 15px 3px 15px; */
    border-radius: 7px;
    text-align: center;
    font-size: 4vh;
    font-family: 'Baloo Bhaina 2', "cursive";

  }
 .reset:hover{
  cursor: pointer;
 }
  
 @media screen and ( max-width:800px ){
  .game-container{
    flex-wrap: wrap;
  }
  .gameInfo{
    margin-top: 10px;
    /* height: 20px; */
  }


  .info{
    margin-top: 2px;
  }
  .gameInfo h1 {
    font-size: 3rem;
  }
  .gameInfo h2 {
    font-size: 3rem;
  }
  .reset{
    margin-top: 0;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3,30vw);
    grid-template-rows: repeat(3,30vw);
  }
 }